{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 100px);">
    <div style="text-align: center; width: 100%; max-width: 700px;">
        <form method="post" style="display: flex; flex-direction: column; gap: 15px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer; font-size: 16px; width:400px; margin-left:160px;">Create URL</button>
        </form>
    </div>
</main>

<style>
    input[type="url"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    #id_original_url {
        width: 100%;
        padding: 15px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
        height: 10px;
    }
    button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
{% endblock content %}